<html>

<head>
<title>Invasion of the African Honey Bee</title>







<link href="shared/ionrangeslider/css/ion.rangeSlider.css" rel="stylesheet"/>
<link href="shared/ionrangeslider/css/ion.rangeSlider.skinShiny.css" rel="stylesheet"/>
<script src="shared/ionrangeslider/js/ion.rangeSlider.min.js"></script>

</head>

<body>

<h1>
African Honey Bees
</h1>

<h2>
Introduction
</h2>

<p>
The African Honey Bee (AHB), also nicknamed the "killer bee", has had a significant impact on the agricultural economy. This species is unique from many other bees because of its extremely defensive nature and the tendency of its colonies to swarm and spread. The implications of the AHB has been astronimical. Areas populated by AHB colonies have been quarantined, prohibiting the importation of the European Honey Bee. The subsequent lack of bees has taken a toll on crop pollination. Thus, there has been strong interest in predicting the arrival of the AHB to the United States. 

In order to obtain the data below, cardboard box traps with a chemical attractant were placed every 300-500m. Then, every month, the 
boxes were checked for presence of the AHB. 
</p>

<h2>
Checking Normality
</h2>
<p>
It was initially thought that the data would follow a normal distribution. However, after fitting a normal QQ plot, we noticed that our data doesn't lie on the 45 degree line.
<img src="images/normalqq.jpeg"/>

</p>

<h1>
Tutorial on the Gamma Distribution
</h1>

<p>
The extreme values of the gamma distribution are commonly known. Namely, the exponential distribution and the chi-squared distribution. Note that the distribution is a function of three values (alpha, beta, and y). The alpha and beta values adjust the shape of the distribution while the y parameter is the input value to the function. 

The distribution takes the form : _____________
Note that when the __ value is 0, the __ term goes to 1 and thereby the function becomes an exponential one. 

The gamma distribution is a continuous function that takes strictly positive values. Because of these two characteristics, it is often used to model a time function. 


</p>


<div class="form-group shiny-input-container">
<label class="control-label" for="alpha">Pick a Number</label>
<input id="install_cutoff" class="js-range-slider" data-min="1" data-max="10" data-from="1" data-step="1"/>
</div>

<div class="form-group shiny-input-container">
<label class="control-label" for="beta">Pick a Number</label>
<input id="install_cutoff" class="js-range-slider" data-min="1" data-max="10" data-from="1" data-step="1"/>
</div>



</body>
</html>
